/* 课程列表区域 */


.course-list-wrap {
	margin-top: 40rpx;
}

.live-title {
	font-size: 30rpx;
	font-weight: bold;
	margin-left: 10rpx;
}
  .jiaocai-image{
	   width: 20rpx;
	   height: 20rpx;
	   margin-top: 13rpx;
	   margin-left: 20rpx;
   }
   .jiaocai-text{
	   color: #64D3AD;
	   font-size: 10px;
	   margin-top: 5rpx;
	   margin-left: 5rpx;
   }
.row{
	display: flex;
	flex-direction: row;
}
.live-more {
	font-size: 20rpx;
	position: absolute;
	right: 20rpx;
	color: #969696;
	margin-top: 10rpx;
	height: 40rpx;
	line-height: 40rpx;

}

.more_image {
	width: 20rpx;
	height: 20rpx;
	position: absolute;
	right: 5rpx;
	margin-top: 20rpx;

}

.content-more {
	position: absolute;
	right: 50rpx;
	display: inline;
	color: #969696;
	font-size: 20rpx;
}

.live-list {
	margin-bottom: 20rpx;
	padding-left: 8rpx;
}

.live-list::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
	visibility: hidden;
	overflow: hidden;
}


/* 课程图片 */
.live-list-img {
	width: 100%;
	height: 100%;
	border-radius: 8rpx;
}

.course-title-icon {
	position: absolute;
	left: 0rpx;
	top: 0rpx;
	width: 60rpx;
	height: 30rpx;
	line-height: 30rpx;
	text-align: center;
	border-radius: 8rpx 0 8rpx 0;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 18rpx;
	color: #DBDBDB;
}

/* 课程内容 */
.live-list-info {
	float: left;
	width: 66%;
	height: 160rpx;
	margin-left: 15rpx;	
}
.live-list-img-wrap {
	position: relative;
	width: 31%;
	height: 160rpx;
	float: left;
	margin-right: 6rpx;
	margin-top: 20rpx;
}
/* 课程列表外包装 */
.course-list-wrap .course-wrap {
	margin-top: 20rpx;
	width: 98%;
/* 	margin-left: calc(1%); */
	padding-top: 20rpx;
	padding-bottom: 40rpx;
	border-radius: 10rpx;
	-moz-box-shadow:  0 0 10px #E7EBED;
	-webkit-box-shadow:  0 0 10px #E7EBED;
	box-shadow:  0 0 10px #d4d4d4;
}

/* 直播列表标题 */
.live-c-title {
	font-weight: bold;
	overflow: hidden;
	height: 70rpx;
	line-height: 1.3em;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	margin-top: 20rpx;
	
}
.live-status {
	font-size: 10px;
	margin-top: 5rpx;
	color: #969696;
}

.tuwen-image {
	width: 80rpx;
	height: 30rpx;
	margin-top: 10rpx;
}

.live-status-tuwen {
	margin-top: 10rpx;
	font-size: 18rpx;
	color: #969696;
	width: 80rpx;
	text-align: center;
	border: 1rpx solid #969696;
	border-radius: 6rpx;
}

.living-status {
	font-size: 10px;
	margin-top: 5rpx;
	color: #64D3AD;
}

/* 价格 */
.live-teacher-price {
	display: flex;
	height: 60rpx;
	margin-top: 5rpx;
}

.teacher-name {
	margin-left: 15rpx;
	font-size: 20rpx;
	color: #323232;
	width: auto;
	height: 60rpx;
	line-height: 60rpx;
	/* margin-top: 22rpx; */
}

.price-wrap {
	display: flex;
	color: #64D3AD;
	position: absolute;
	right: 10px;
	height: 60rpx;
	line-height: 60rpx;
	font-size: 26rpx;
}

.live-teacher-avatar {
	width: 35rpx;
	height: 35rpx;
	border-radius: 50%;
	margin-top: 13rpx;
}

.live-teacher-avatar-taocan {
	width: 45rpx;
	height: 35rpx;
}

.free {
	color: #ffffff;
}

.numPrice {
	color: #FF1B20;

}

.pass {
	color: #ffffff;
}


.live-list {
	height: 210rpx !important;
	padding-top: 10rpx !important;
}

.price-wrap {
	padding-right: 26rpx !important;
}

