.big_swiper_item {
	position: absolute;
	width: 100%;
	height: 100%;
}
.chat_space{
	height: 20rpx;

}
.small-video{
	background-color: #333333;
	width: 100%;
	height: 75px;
	display: flex;
	flex-direction: row;
}
.video-small-text{
	color: #34D695;
	text-align: center;
	font-size: small;
	height: 75px;
	line-height: 75px;
	margin-left: 40rpx;
}
.video-small-wrap{
	width: 200rpx;
	height: 75px;
	background-color: #000000;
}
.big_swiper_item_image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0rpx;
}

.left_back {
	width: 30rpx;
	height: 30rpx;
	margin-left: 20rpx;
	margin-top: 20rpx;
}

.big_swiper {
	background-color: #000000;
	position: fixed;
	top: 0rpx;
	width: 100%;
	height: 100%;
	z-index: 1005;
}

page {
	width: 100%;
	height: 100%;
	overflow: hidden;
    background-color: #F4F5F6;;
}

.inputbottom {
	height: 65px;
	background-color: #FFFFFF;
	position: fixed;
	/* bottom: 0rpx; */
	width: 750rpx;
}

.pptnum {
	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	text-align: center;
	font-size: small;
	position: absolute;
	right: 10rpx;
	border-radius: 20rpx;
	width: 80rpx;
	height: 40rpx;
	bottom: 15rpx;
}

.video-wrapppt {
	position: absolute;
	width: 100%;
	height: 200px;
	background-color: #000000;
	z-index: -1;
}

.pptimage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.Usercount {
	margin-top: 10rpx;
	margin-left: 15rpx;
	color: #C7C7C7;
}

.islive {
	margin-top: 10rpx;
	color: #C7C7C7;
	height: 40rpx;
	width: 100rpx;
}

.xian {
	background-color: #C7C7C7;
	margin-left: 5rpx;
	margin-top: 20rpx;
	width: 1rpx;
	height: 20rpx;
}

.dian {
	margin-top: 27rpx;
	margin-left: 20rpx;
	width: 15rpx;
	height: 15rpx;
	border-radius: 50%;
}

.livestatus {
	font-size: small;
	height: 30px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row;
}

.jiangshiview {
	display: flex;
	flex-direction: row;
}

.row {
	display: flex;
	flex-direction: row;
}

.jiangshi {
	background-color: #0081FF;
	color: #FFFFFF;
	width: 40rpx;
	height: 25rpx;
	line-height: 27rpx;
	text-align: center;
	margin-top: 31rpx;
	margin-left: 10rpx;
	border-radius: 5rpx;
	font-size: 16rpx;

}

.live-all-wrap {
	background-color: #F4F5F6;
	overflow-y: hidden;
	overflow-x: hidden;
}

.video-wrap-wechat {
	width: 100%;
	height: 200px;
	background-color: #000000;
}
.video-share-wrap{
	width: 100%;
	height: 200px;
	background-color: #000000;
}
.video-wrap {
	width: 100%;
	height: 200px;
	background-color: #000000;
}
.video-wrap36 {
	width: 100%;
	height: 200px;
	display: flex;
	/* 	position: absolute;
	z-index: -1; */
}

.swpier {}

.rounded {
	margin-top: 20rpx;
	width: 80rpx;
	height: 80rpx;
	margin-left: 20rpx;
	border-radius: 40rpx;
}

.rounded2 {
	margin-top: 20rpx;
	width: 80rpx;
	height: 80rpx;
	margin-right: 40rpx;
	border-radius: 40rpx;
}

.nothing {
	position: fixed;
	/* #ifdef H5 */
	top: 90rpx;
	/* #endif */
	/* #ifdef MP-WEIXIN */
	top: 170rpx;
	/* #endif */
	height: 200px;
	width: 100%;
}

.nothing_image {
	width: 60rpx;
	height: 60rpx;
	position: absolute;
	left: calc(50% - 20px);
	top: calc(50% + 30px);
}

.zanshilikai_txt {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(50% + 65px);
}

.zanshilikai_txt_2 {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(50% + 85px);
}

.zanshilikai_txt2 {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(50% + 75px);
}

.nothing_image_H {
	width: 60rpx;
	height: 60rpx;
	position: absolute;
	left: calc(50% - 15px);
	/* #ifndef H5 */
	top: calc(50% - 80rpx);
	/* #endif */
	/* #ifdef H5 */
	top: calc(10%);
	/* #endif */
}

.zanshilikai_txt_H {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(50%);
	/* #ifdef H5 */
	top: calc(10% + 40px);
	/* #endif */
}

.zanshilikai_txt_H_H {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(50% + 20px);
	/* #ifdef H5 */
	top: calc(10% + 60px);
	/* #endif */
}

.zanshilikai_txt2_H {
	position: absolute;
	color: #646464;
	text-align: center;
	width: 100%;
	top: calc(45%);
	/* #ifdef H5 */
	top: calc(20%);
	/* #endif */
}

.scroll1 {
	width: 100%;
}

.zanwu {
	color: #646464;
	text-align: center;
	width: 100%;
	position: absolute;
	margin-top: 160rpx;
}


.user_nickname {
	margin-top: 5rpx;
	padding: 10rpx;
	font-size: 30rpx;
	color: #323232;
}

.user_nickname2 {
	margin-top: 5rpx;
	padding: 10rpx;
	font-size: 30rpx;
	color: #323232;
	text-align: right;
}



.ppt_big_back {
	position: absolute;
	z-index: 1006;
	width: 30rpx;
	height: 40rpx;
	margin-left: 20rpx;
}
.ppt_big_back_big{
	top: 20rpx;
	position: absolute;
	z-index: 1007;
	width: 150rpx;
	height: 150rpx;
	/* margin-left: 20rpx; */
	/* background-color: #0081FF; */
}
.big_pptnum {

	position: absolute;
	z-index: 1005;
	color: #FFFFFF;
	text-align: center;
	font-size: 28rpx;
	font-weight: 500;
	margin-left: calc(50% - 20px);
	border-radius: 8rpx;
	width: 70rpx;
	height: 40rpx;
}
.messagebottom {
	display: flex;
	flex-direction: row;
}

.messagebottom2 {
	display: flex;
	flex-direction: row-reverse;
}

.message {
	display: flex;
	flex-direction: column;
}
.message_row{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.message_row2{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.textmessage {
	margin-top: 0rpx;
	margin-right: 20rpx;
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 30rpx;
	font-weight: normal;
	width: fit-content;
	max-width: 450rpx;
	min-width: 40rpx;
	background-color: #34D695;
	color: #FFFFFF;
	text-align: left;
	word-break:break-all;	
	text-align: left;
}

.textmessage2 {
	margin-top: 0rpx;
	margin-left: 20rpx;
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 30rpx;
	font-weight: normal;
	width: fit-content;
	min-width: 40rpx;
	max-width: 450rpx;
	background-color: #FFFFFF;
	color: #000000;
	word-break:break-all;
}

.textmessage2_voice {
	display: flex;
	flex-direction: row;
	margin-top: 0rpx;
	margin-left: 20rpx;
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 30rpx;
	font-weight: normal;
	width: 90rpx;
	background-color: #FFFFFF;

}

.textmessage2_voice_my_my {
	margin-top: 0rpx;
	/* margin-left: 20rpx; */
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 30rpx;
	font-weight: normal;
	width: 90rpx;
	background-color: #34D695;
	display: flex;
	flex-direction: row-reverse;
}

.textmessage2_voice_my {
	margin-top: 0rpx;
	margin-left: 20rpx;
	padding: 10rpx;
	border-radius: 8rpx;
	font-size: 30rpx;
	font-weight: normal;
	width: 100rpx;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: row-reverse;
	
}

.voice_my {
	margin-top: 10rpx;
	margin-left: 10rpx;
	width: 30rpx;
	height: 30rpx;
	transform: rotate(-180deg);
}

.voice {
	margin-top: 10rpx;
	margin-left: 10rpx;
	width: 30rpx;
	height: 30rpx;
	display: flex;
	flex-direction: row-reverse;
}

.voice_time {
	margin-left: 10rpx;
	color: #969696;
}

.inputclass {
	display: flex;
	flex-direction: row;
	height: 65px;
	width: 750rpx;

}

.inputborder {
	position: absolute;
	margin-top: 20rpx;
	bottom: unset;
	height: 80rpx;
	left: 20rpx;
	/* #ifdef MP-WEIXIN */
	left: 90rpx;
	/* #endif */

	right: 140rpx;
	background-color: #F4F5F6;
	border-radius: 40rpx;
}

.input {
	position: absolute;
	bottom: unset;
	height: 80rpx;
	left: 20rpx;
	right: 100rpx;
	line-height: 2em;
	color: #000000;
	font-size: 30rpx;
	border-radius: 40rpx;
	padding-right: 20rpx;
	padding-top: 0rpx;
	padding-bottom: 10rpx;
}

.send {
	position: absolute;
	right: 30rpx;
	color: #34D695;
	font-size: 35rpx;
	margin-top: 30rpx;
}

.sendvoice {
	position: absolute;
	left: 10rpx;
	height: 60rpx;
	width: 60rpx;
	margin-top: 30rpx;
}

.sendemojy {
	position: absolute;
	right: 30rpx;
	height: 60rpx;
	width: 60rpx;
	margin-top: 30rpx;
}

.inputbottom {
	height: 65px;
	background-color: #FFFFFF;
	position: fixed;
	/* bottom: 0rpx; */
	width: 750rpx;
}

.emojy {
	height: 170px;
	width: 100%;
	position: absolute;
	bottom: 0rpx;
	background-color: #E7EBED;
}

.tiwen {
	font-size: 25rpx;
	position: absolute;
	right: 5rpx;
	line-height: 1.6em;
	margin-top: 10rpx;
}

.wen-btn-wrap {
	width: 100rpx;
	height: 50rpx;
	position: absolute;
	right: 20rpx;
	margin-top: 15rpx;
	line-height: 70rpx;
	border-radius: 0 50rpx 50rpx 0;

	/* background-color: #F5F5F5; */
}

.duihao-img {
	width: 30rpx;
	height: 30rpx;
}

.duihao-wrap {
	position: absolute;
	width: 40rpx;
	height: 40rpx;
	margin-top: 8rpx
}
.wen_text{
	margin-right: 10rpx;
	margin-top: 20rpx;
	background-color: #34D695;
	color: #FFFFFF;
	width: 30rpx;
	height: 30rpx;
	line-height: 30rpx;
	font-size: 20rpx;
	text-align: center;
	border-radius: 5rpx;
}
.wen_text2{
	margin-left: 10rpx;
	margin-top: 20rpx;
	background-color: #34D695;
	color: #FFFFFF;
	width: 30rpx;
	height: 30rpx;
	line-height: 30rpx;
	font-size: 20rpx;
	text-align: center;
	border-radius: 5rpx;
}
.wen {
	margin-right: 10rpx;
	margin-top: 100rpx;
	background-color: #34D695;
	color: #FFFFFF;
	width: 30rpx;
	height: 30rpx;
	line-height: 30rpx;
	font-size: 20rpx;
	text-align: center;
	align-items: center;
	border-radius: 5rpx;
}

.wen2 {
	margin-top: 100rpx;
	margin-left: 10rpx;
	;
	background-color: #34D695;
	color: #FFFFFF;
	width: 30rpx;
	height: 30rpx;
	line-height: 30rpx;
	font-size: 20rpx;
	text-align: center;
	border-radius: 5rpx;
}

.zhinan {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	margin-top: 20rpx;
	margin-left: 40rpx;
	margin-right: 40rpx;
	height: auto;
	border-radius: 10rpx;

}

.zhinanview {
	background-color: #FFFFFF;
	margin-left: calc(3%);
	width: 90%;
	padding: 10rpx;
	margin-top: 10rpx;
	border-radius: 8rpx;
	display: flex;
	flex-direction: column;
}

.intr {
	margin-left: 10rpx;
	font-size: 20rpx;
	color: #969696;
}

.zhinantext {
	font-size: 25rpx;
	height: 45rpx;
	padding-left: 20rpx;
	padding-top: 5rpx;
}

.button {
	margin-left: 20rpx;
	width: 40rpx;
	height: 40rpx;
}


.hidden {
	position: fixed;
	z-index: -1;
	width: 1upx;
	height: 1upx;
}

.slider-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 26upx;
	color: #999;

	height: 40rpx;
}

.timeshow {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.mm {
	position: absolute;
	left: 70rpx;
	color: #FFFFFF;
}

.ss {
	position: absolute;
	right: 40rpx;
	color: #FFFFFF;

}

.slider {
	margin-left: 25rpx;
	width: 90%;
}

.shadow {
	height: 70rpx;
	position: absolute;
	margin-top: -70rpx;
	width: 100%;
	/* bottom: 5rpx; */
}

.voice_an {
	width: 300rpx;
	height: 200rpx;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
	background-color: rgba(41, 41, 41, 0.7);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border-radius: 10rpx;
}
.voice_an_image2{
	position: absolute;
	width: 100rpx;
	height: 100rpx;
	left: 150rpx;
	margin-top: 10rpx;
}
.voice_an_image {
	position: absolute;
	width: 150rpx;
	height: 150rpx;
	left: 75rpx;
	margin-top: 10rpx;
}

.text {
	position: absolute;
	width: 100%;
	height: 60rpx;
	line-height: 60rpx;
	text-align: center;
	bottom: 10rpx;
}

.wave {
	width: 6rpx;
	height: 100%;
	margin-left: 10rpx;
	border-radius: 50rpx;
	background-color: #999;
	vertical-align: middle;
	display: inline-block;
}

.voice_an_icon {
	width: 200rpx;
	height: 100rpx;
	line-height: 50rpx;
	margin: 50rpx 0;
}

.voice_an_icon #one {
	animation: runVoice 0.6s infinite 0.1s;
}

.voice_an_icon #two {
	animation: runVoice 0.6s infinite 0.3s;
}

.voice_an_icon #three {
	animation: runVoice 0.6s infinite 0.6s;
}

.voice_an_icon #four {
	animation: runVoice 0.6s infinite 0.1s;
}

.voice_an_icon #five {
	animation: runVoice 0.6s infinite 0.3s;
}

.voice_an_icon #six {
	animation: runVoice 0.6s infinite 0.6s;
}

.voice_an_icon #seven {
	animation: runVoice 0.6s infinite 0.1s;
}
