.lesson{}
.lesson .l_bd_t{}
.lesson .l_bd_t span{
    color:#969696;
}
.lesson .lesson_c{
    margin:15px 20px;
    padding:15px 10px;
    height:90px;
    background:#FAFAFA;
}
.lesson .lesson_c .lesson_c_i{
    float:left;
    width:120px;
    height:90px;
}
.lesson .lesson_c .lesson_c_i img{
    width:120px;
    height:90px;
}
.lesson .lesson_c .lesson_i{
    margin-left:140px;
}
.lesson .lesson_c .lesson_i .lesson_i_t{
    height:66px;
    font-size:18px;
}
.lesson .lesson_c .lesson_i .lesson_i_b{
    
}
.lesson .lesson_c .lesson_i .lesson_i_b .lesson_i_b_p{
    float:left;
    font-size:16px;
}
.lesson .lesson_c .lesson_i .lesson_i_b .lesson_i_b_p_0{
    color:#64D3AD;
}
.lesson .lesson_c .lesson_i .lesson_i_b .lesson_i_b_p_1{
    color:#FF2424;
}
.lesson .lesson_c .lesson_i .lesson_i_b .lesson_i_b_p_2{
    color:#64D3AD;
}
.lesson .lesson_c .lesson_i .lesson_i_b .lesson_i_b_d{
    float:right;
    text-align:right;
    color:#979797;
    font-size:16px;
    
}
.l_bd .l_bd_l .l_bd_l_l ul li.l_bd_l_l_f{
    padding-left:42px;
    padding-right:40px;
}

.l_bd .l_bd_l .l_bd_l_l ul li .l_bd_l_l_n{
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items:center;
    position:relative;
}

.l_bd .l_bd_l .l_bd_l_l ul li.l_bd_l_l_f .l_bd_l_l_n{
    padding-left:36px;
}

.l_bd .l_bd_l .l_bd_l_l ul.lesson_list{
    margin-bottom:20px;
    padding:0 20px 20px 20px;
    border:1px solid #F0F0F0;
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li{
    border:none;
    border-bottom:1px solid #F0F0F0;
    display: -webkit-flex; /* Safari */
    display: flex;
    
    
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.child-of-node{
    padding:0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.node-p .l_bd_l_l_n{
    padding-left: 30px;
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.child-of-node .l_bd_l_l_n{
    position:relative;
    padding-left:40px;
    padding-right:0;
}

.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n span{
    
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n span{
    position:absolute;
    left:0;
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:20px 20px;
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.child-of-node .l_bd_l_l_n span{
    left:10px;
}

.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.node-open .l_bd_l_l_n span{
    margin-right:20px;
    width:16px;
    height:16px;
    background-size:16px 16px;
    background-image:url('../images/lesson/open.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li.node-close .l_bd_l_l_n span{
    margin-right:20px;
    width:16px;
    height:16px;
    background-size:16px 16px;
    background-image:url('../images/lesson/close.png');
}

.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_1{
    background-image:url('../images/lesson/type_1.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_2{
    background-image:url('../images/lesson/type_2.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_3{
    background-image:url('../images/lesson/type_3.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_4{
    background-image:url('../images/lesson/type_4.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_5{
    background-image:url('../images/lesson/type_5.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_6{
    background-image:url('../images/lesson/type_6.png');
}
.l_bd .l_bd_l .l_bd_l_l ul.lesson_list li .l_bd_l_l_n .type_7{
    background-image:url('../images/lesson/type_7.png');
}

.lesson_li{
    display: -webkit-flex; /* Safari */
    display: flex;
    width:100%;
    align-items:center;
    padding:20px 20px 20px 30px;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}

.lesson_list_live{
    width:100%;
    height:40px;
    padding:10px 0 10px 40px;
    display: -webkit-flex; /* Safari */
    display: flex;
    align-items:center;
    border-top:1px solid #F0F0F0;
    
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
    
}
.lesson_list_live .islive{
    margin-right:15px;
    width:18px;
    height:12px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:18px 12px;
}
.lesson_list_live .islive0{
    background-image:url('../images/lesson/live.png');
}
.lesson_list_live .islive1{
    background-image:url('../images/lesson/liveing.png');
}
.lesson_list_live .islive2{
    background-image:url('../images/lesson/live.png');
}
.lesson_list_live .livetips{
    margin-right:100px;
    color:#C7C7C7;
}
.lesson_list_live .livetips0{
    
}
.lesson_list_live .livetips1{
    color:#38DAA6;
}
.lesson_list_live .livetips2{}
.lesson_list_live .livetime{
    color:#C7C7C7;
}


























