*{
    padding:0;
	margin: 0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}
body{
    padding:0.3rem;
}
img{
    max-width:100%;
}
.title{
    line-height:1rem;
    text-align:center;
    font-size:0.32rem;
}
.page_content{
    overflow:hidden;
}
.lock{
    position:relative;
    margin-top:-2rem;
}
.lock .lock_bg{
    height:2rem;
    background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1));
}
.lock .lock_line{
    margin:0 auto;
    width:4.7rem;
    height:1px;
    background:#F0F0F0;
}
.lock .lock_img{
    margin:-0.15rem auto 0;
    width:1rem;
    height:0.3rem;
    background:#fff url('../images/course/lock.png') no-repeat center;
    background-size:auto 0.3rem;
}
.lock .lock_title{
    text-align:center;
    color:#969696;
    font-size:0.2rem;
}