html,body{
    min-width:1280px;
    min-height:600px;
    height:100%;
}

::-webkit-scrollbar{
    width:8px;
    height:8px;
}
/*定义滚动条轨道（track）和滑块（thumb）*/
::-webkit-scrollbar-thumb,::-webkit-scrollbar-track{
    border-right:1px solid transparent;
    border-left:1px solid transparent;
    background-color:rgba(0,0,0,.1);
}
::-webkit-scrollbar-thumb{
    border-radius:8px;
    background-color:rgba(0,0,0,.2)
}
/*定义水平和垂直滚动条两者的交界处（拐角）*/
::-webkit-scrollbar-corner{
    display:block;
}
::-webkit-scrollbar-track:hover{
    background-color:rgba(0,0,0,.15);
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgba(0,0,0,.5);
}


*{
    padding:0;
	margin: 0;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
	-moz-tap-highlight-color:rgba(0, 0, 0, 0);  
	-ms-tap-highlight-color:rgba(0, 0, 0, 0);  
	-o-tap-highlight-color:rgba(0, 0, 0, 0);  
	tap-highlight-color:rgba(0, 0, 0, 0);  
}

img{
    max-width:100%;
}

.page_content{
    overflow:hidden;
}
.article{
    min-height:0;
    display: -webkit-flex; /* Safari */
    display: flex;
    
    
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    
    position: relative;
    height:100%;
}
.article .article_left{
    padding-right:20px;
    width:300px;
    height:100%;
    background:rgb(250,250,250);
    overflow:hidden;
    overflow-y:auto;
    
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;
}
.article .article_left ul{}
.article .article_left ul li{
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    cursor:pointer;
    transition: border-color .3s,background-color .3s,color .3s;
}
.article .article_left ul li a{
    display:block;
}
.article .article_left ul li.on a{
    color:#409eff;
}
.article .article_left ul li:hover{
    background:rgb(200,200,200);
}
.article .article_right{
    flex:1;
    height:100%;
}

.article .article_right .article_bd{
    margin:0 auto;
    width:60%;
}
.article .article_right .title{
    height:100px;
    line-height:100px;
    font-size: 18px;
    font-weight: bold;
    border-bottom:1px solid #ebebeb;
}

.article .article_right .content{
    padding:20px 0;
}