.bd_income_echarts {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box;

    width: 50%;
    height: 500px;
    padding: 30px 30px;
    float: left;
    background-color: #ffffff;
}

.wrapper-info:after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    clear: left;
}

.income {
    height: 84px;
    background-color: #ffffff;
}

.income-info span {
    display: inline-block;
}

.income-info span.today-income {
    margin-right: 260px;
}


.today-income,
.yesterday-income {
    display: inline-block;
    width: 46%;
    height: 89px;
}

.today-price,
.yesterday-price {
    margin-top: 32px;
    font-size: 30px;
    font-weight: bold;
    color: #FF3657;
}

/*echarts框*/
.echarts-wrap {
    margin-top: 40px;
}


/*右上方4个统计框*/
.bd .right_list {
    padding-top: 39px;
    width: 48%;
    float: left;
    margin: 0 auto;
}

.bd .right_list ul li {
    list-style: none;
    min-width: 37%;
    height: 140px;
    margin-right: 10px;
    margin-bottom: 38px;
    padding: 22px;
    border: 1px solid #F0F0F0;
    display: inline-block;
}

.right_list .basic_list_t {
    font-size: 17px;
    color: #B2B2B2;
}

.right_list .basic_list_n {
    margin-top: 12px;
    font-size: 20px;
    font-weight: bold;
}

.right_list .basic_list_c {
    margin-top: 20px;
    font-size: 17px;
    color: #B2B2B2;
}



/*问号区域*/
.icon-title {
    display: inline-block;
    width: 78%;
}
.icon-wenhao {
    display: inline-block;
    width: 18%;
    text-align: right;
}

.ratio {
    color: #000000;
    font-weight: bold;
}

/*运营概况统计框区域*/
.basic_list_yunying:after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    clear: left;

}

.basic_list_yunying ul li {
    height: 200px;
    width: 301px;
    float: left;
    margin-right: 15px;
}

.basic_list_yunying ul li div {
    margin-top: 25px;
}

.basic_list_yunying ul li .basic_list_t {
    margin-top: 0;
}

.basic_list_yunying ul li .basic_list_c {
    margin-top: 15px;
}

.basic_list_yunying .basic_list_n span {
    font-size: 35px;
}

.target {
    margin-top: 36px;
}

.target h4 {
    padding-left: 17px;
    font-weight: bold;
}
