body{
    min-height: 13.34rem;
    background: url("../images/share/bg.png");
    background-size: 100%;
    padding-top: 1.56rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box;
}
.share_bd{
    position: relative;
    margin: 0 auto 0.66rem;
    padding-top: 0.98rem;
    width: 6rem;
    height: 8rem;

    border-radius: 0.3rem;
    background: url("../images/share/bg2.png");
    background-size: 100%;

    -moz-box-sizing: border-box;  /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box;
}
.share_logo{
    margin: 0 0 0.36rem 0;
    text-align: center;
}
.share_logo img{
    width: 1.4rem;
    height: 1.4rem;
}

.share_name{
    margin-bottom: 2rem;
    text-align: center;
    color: #323232;
    font-size: 0.4rem;
}

.share_user{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
}
.share_user img{
    margin-right: 0.3rem;
    width: 0.88rem;
    height: 0.88rem;
    border-radius: 50%;
}

.share_user_info{
    color: #323232;
}
.share_user_info_name{
    font-size: 0.28rem;
}
.share_user_info_des{
    font-size: 0.2rem;
}
.share_code{
    color: #323232;
    font-size: 0.32rem;
    text-align: center;
    font-weight: bold;
}

.share_btn{

}
.share_btn a{
    margin: 0 auto 0.4rem;
    width: 4.4rem;
    height: 0.88rem;

    color: #ffffff;
    font-size: 0.32rem;

    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #ffffff;
    border-radius: 0.44rem;

    -moz-box-sizing: border-box;  /*Firefox3.5+*/
    -webkit-box-sizing: border-box; /*Safari3.2+*/
    -o-box-sizing: border-box; /*Opera9.6*/
    -ms-box-sizing: border-box; /*IE8*/
    box-sizing: border-box;
}
.share_btn a img{
    margin-right: 0.2rem;
    width: 0.34rem;
    height: 0.4rem;
}